aws_region                = "us-east-1"
certificate_arn           = "arn:aws:acm:us-east-1:123456789012:certificate/replace-me"
domain_name               = "demo.example.com"
route53_zone_id           = ""
github_repository         = "example/Talkdesk-Coolify"
github_oidc_provider_arn  = "arn:aws:iam::123456789012:oidc-provider/token.actions.githubusercontent.com"
github_actions_environment = "demo-deploy"
opsverse_agent_secret_arn = "arn:aws:secretsmanager:us-east-1:123456789012:secret:replace-me"
coolify_api_secret_arn    = "arn:aws:secretsmanager:us-east-1:123456789012:secret:replace-me"
coolify_installer_sha256  = "73203a9b8b626554c8f24d839fbd5b91d46a8ef282800395ee33e68b23a0e7cf"
opsverse_installer_sha256 = "06bfe56e228759db212ca5c89093d441ed37f11d42390d2d478182ac11adf789"
